
        <header>
          <div class="container">
            <div class="sixteen columns">
              <div id="logo">
                <img style="width: 40px;" src="assets/logo.svg" alt="Engez">

              </div>
              <div id="logo" style="margin-top: 33px; ">
                <B>Engez</B>

              </div>
        <nav id="navigation" class="menu" >
          <ul id="responsive">


            <li><a href="#" routerLink="/homeuser" routerLinkActive="active">Home</a>

            </li>




            <li><a href="#" routerLink="/addjob" routerLinkActive="active">Add job</a>

            </li>

            <li><a href="#" routerLink="/userProfile/{{id}}" routerLinkActive="active">profile</a>

            </li>
            <li ><a href="#"  routerLink="/freelancers" routerLinkActive="active">freelancers</a>

            </li>
            <!-- <li><a href="#" routerLink="/Ucontracts" routerLinkActive="active">My Contracts</a>

            </li> -->
            <!-- <li><a href="#my"  routerLinkActive="active">My</a>

            </li> -->


          </ul>


          <ul class="float-right" style="padding-left: 70px">
            <li><img src="assets/user.webp" alt="" style="width: 40px;height: 40px; border-radius: 50%;">   </li>


            <li> <a href="#" style="background-color: white; color: #2db2ea; font-size: 27px;"  routerLink="/" (click)="logout()" routerLinkActive="active"><i class="far fa-sign-out"></i>
                </a></li>

          </ul>

        </nav>
      </div>
    </div>
  </header>


