<!-- <div *ngIf="!paidFor">
    <h1>Buy this Couch - ${{ product.price }} OBO</h1>
</div>

<div *ngIf=paidFor>
    <h1>Yay, you bought a sweet couch!</h1>
</div>


<div #paypal></div> -->

<router-outlet> </router-outlet>
<!-- <app-resumes></app-resumes> -->
<!-- <app-add-job></app-add-job> -->
<!-- <app-offersjob></app-offersjob> -->
<!-- <app-freelancers></app-freelancers> -->
<!-- <app-job-page></app-job-page> -->
<!-- <app-jobs></app-jobs> -->
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-footer></app-footer>

