<app-nav-user></app-nav-user>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				<img src="../../../assets/free.png" alt="">
				<div class="resumes-list-content">
					<h4>{{user.name}} <ng-container *ngIf="user.verified=='verified'"> <i  style="color:dodgerblue"  class="fas fa-badge-check"></i></ng-container> <span>{{user.category.name}}</span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i> {{user.adress}}</span>
					<!-- <span class="icons"><i class="fa fa-money"></i> $100 / hour</span> -->
					<span class="icons"><a><i class="fab fa-whatsapp"></i> {{user.mobilenumber}}</a></span>
					<span class="icons"><a href="mailto:{{user.email}}"><i class="fa fa-envelope"></i> {{user.email}}</a></span>
					<div class="skills">
						<!-- <span>JavaScript</span>
						<span>PHP</span>
						<span>WordPress</span> -->
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">

				<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>




			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->


<!-- Recent Offers -->

<br><br><br>



